.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

body{
  background-color: #BBDEFB;
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/*HEADER*/

.title, .tagline{
  color: #FFFFFF;
  text-align: center;
}

.title{
  margin-bottom: 0%
}

.tagline{
  margin-bottom: 5%
}

.logo{
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-bottom: 2.5%
}

.btn-container{
  display: flex;
  flex-direction: row;
  text-align: center;
 
}

.btn{
  background-color: #FFC107;
}

.btn-link{
  width: 50%;
  margin: 2.5%;
}

.btn:hover{
  background-color: #2196F3;;
}

/*ABOUT PAGE*/

.about-content{
  margin-top: 5%;
}

.note{
  font-style: italic;
  text-align: center;
}

/*SPEAKER CARDS*/
.speaker-links-container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.speaker-links{
  color: #212121;
  text-align: center;
  margin: 2%;
}

.speaker-cards{
  margin: 5%;
}


